<containers_resolvers>
  <explicit_singularity />

  <cached_mulled_singularity cache_directory="/export/galaxy/database/container_cache/singularity" namespace="local,biocontainers"/>

  <mulled_singularity auto_install="False" cache_directory="/export/galaxy/database/container_cache/singularity"  namespace="local,biocontainers"/>

  <build_mulled_singularity auto_install="True" cache_directory="/export/galaxy/database/container_cache/singularity"/>

  <build_mulled auto_install="True"/>

  <cached_mulled />

  <mulled auto_install="True"/>

</containers_resolvers>


